# Content

* 1. Import Libraries

* 2. Set Working Path

* 3. Import file: orders_products_combined

* 4. Check for shape of file

* 5. Merge 2 Files

* 6. Confirm the merge

* 7. Export

# 1. Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import dask.dataframe as dd

# 2. Set working path

In [17]:
# set a path for working
path=r'/Users/phongsathorn/Documents/Data Analytics/CareerFoundry/Achievement 4 - Python/InstaCart/Instacart Business Analysis'

# 3. Import the merged file as pkl

In [18]:
# import data 
df=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [19]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# 4. Check for shape of the imported file

In [20]:
#Check the shape of the imported dataframe (it should be the same as the one you exported, 32434489 rows, 10 columns)
df.shape

(32434489, 10)

In [21]:
df_prods=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'))

In [22]:
df_prods=df_prods.drop(columns=['Unnamed: 0'])

In [23]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
# exclude the column '_merge' from the df
df=df.drop(columns=['_merge'])

# 5. Determine a way to combine 2 dataframes

In [25]:
# Determine a suitable way to combine the orders_products_combined (df) dataframe with your products data set
df_merged=df.merge(df_prods, on=['product_id'], indicator=True )

In [26]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# 6. Confirm the results of the merge using the merge flag

In [27]:

df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# 7. Export the newly created dataframe as ords_prods_merge in a suitable format

In [28]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))